.app {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
  padding: 0 0 40px;
}

.app__guest {
  display: flex;
  justify-content: center;
  align-items: center;
}
