@import '~antd/dist/antd.css';

.favourit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 48px);
}

.favourit__container {
  width: 1040px;
}

.favourit__title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  padding: 0;
  margin: 0 0 40px;
}

.favourit__list {
  background-color: #ffffff;
}
